@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #f5f5f5;
}
.nav-head {
  margin-top: 54%;
  margin-left: 28.6%;
}
.social-links {
  display: flex;
  margin-left: 7%;
  margin-top: 4%;
}
.social-icons {
  list-style: none;
  padding: 10px;
  margin: 1.5%;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all 1s ease;
  background-color: #1e242c;
}
.social-icons:hover {
  background-color: #149ddd;
}
.icon {
  color: #f5f5f5;
  font-size: 22px;
}

.nav-links {
  list-style-type: none;
  cursor: pointer;
  color: #a8a9b4;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 1%;
  margin-bottom: 8%;
}
.text {
  transition: all 0.5s ease;
}
.page-links {
  margin-right: 10px;
  font-size: 25px;
  display: inline;
  transition: all 0.5s ease;
}
.nav-links:hover .page-links {
  color: #149ddd;
}
.nav-links:hover .text {
  color: white;
}
@media (min-width: 768px) {
  .nav-links {
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
  }
  .nav-links::before {
    content: "";
    position: absolute;
    width:100%;
    border-radius: 10px;
    height: 3px;
    transition: all 1s ease-in;
    border: 1px solid transparent;

    left: -100%;
    overflow: hidden;
    top: 88%;
  }

  .nav-links:hover::before {
    top: 88%;
    background-color: #149ddd;
    left: 15%;
  }
}
