@import "tailwindcss/preflight";
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #FAF4FD;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.user-container > * {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
}