@import "tailwindcss/preflight";

.service-card {
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(20, 157, 221, 0.3);
}

.service-icons {
    display: inline-flex;
    border: 2px solid #149ddd;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: #149ddd;
    font-size: 40px;
    width: 70px;
    height: 70px;
    margin: 10px auto;
    transition: all 0.3s ease-in-out;
}

.service-card h6 {
    transition: color 0.3s ease-in-out;
    color: #333;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.service-card p {
    color: #666;
}

.service-card:hover h6 {
    color: #149ddd;
}

.service-card:hover .service-icons {
    background-color: #fff;
    color: #149ddd;
}
